@Html.Partial("Modals/Delete")    
@using CilPlayground.Models;
@model AdminViewModel
@{
    ViewBag.Title = "Controls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content" style="padding:20px; background-color:#303030; margin-top:40px">
    <h2>Controls</h2>
    <h5>Click to user to edit. </h5>
    <button class="btn ciliButton" id="addButton">Add new</button>
    <div class="row" id="tableHeader">
        <div class="col-md-2"><h4>User name</h4></div>
        <div class="col-md-3"><h4>Email</h4></div>
        <div class="col-md-2"><h4>Registration time</h4></div>
        <div class="col-md-1" id="roleHeader"><h4>Role</h4></div>
        <div class="col-md-2" id="passwordHeader" style="display:none"><h4>Password</h4></div>
    </div>
    @foreach (var t in Model.Users)
    {
        <div class="row adminRow" data-id="@t.Id">
            <div class="col-md-2 adminCol Name">
                <div style="min-width:100%; border-style:none; background-color:inherit;">@t.Name</div>
            </div>
            <div class="col-md-3 adminCol Mail">
                <div style="min-width:100%; border-style:none; background-color:inherit;">@t.Mail</div>
            </div>
            <div class="col-md-2 adminCol RegistrationTime">
                <div style="min-width:100%; border-style:none; background-color:inherit;">@t.RegistrationTime</div>
            </div>
            <div class="col-md-2 adminCol Role" data-roleId="@t.RoleId">
                <div style="min-width:100%; border-style:none; background-color:inherit;">
                    @{
                        var firstOrDefault = Model.Roles.FirstOrDefault(r => r.Id == t.RoleId);

                        if (firstOrDefault != null)
                        {
                            @firstOrDefault.Name
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

<div style="display: none">
    <select style="min-width: 100%; border-style: none; background-color: inherit;" class="roleEditSample">
        @foreach (var t in Model.Roles)
        {
            <option value="@t.Id">@t.Name</option>
        }
    </select>

    <div style="min-width: 100%; border-style: none; background-color: inherit;" class="roleSample">
    </div>

    <div class="row adminRow add editRowSample" data-id="0">
        <div class="col-md-2 adminCol Name">
            <textarea style="min-width: 100%; border-style: none; background-color: inherit;">Name</textarea>
        </div>
        <div class="col-md-3 adminCol Mail">
            <textarea style="min-width: 100%; border-style: none; background-color: inherit;">example@mail.com</textarea>
        </div>
        <div class="col-md-2 adminCol RegistrationTime">
            <textarea style="min-width: 100%; border-style: none; background-color: inherit;">@DateTime.Now</textarea>
        </div>
        <div class="col-md-1 adminCol Role">
        </div>
        <div class="col-md-2 adminCol Password">
            <textarea style="min-width: 100%; border-style: none; background-color: inherit;"></textarea>
        </div>
        <div class="col-md-1 adminButtonCol">
            <button class="btn ciliButton createButton">Create</button>
            <button class="btn ciliButton cancelButton">Cancel</button>
        </div>
    </div>

    <div class="col-md-2 adminCol Password passwordSample">
        <textarea style="min-width: 100%; border-style: none; background-color: inherit;"></textarea>
    </div>
    <div class="col-md-1 adminButtonCol buttonColSample">
        <button class="btn ciliButton saveButton">Save</button>
        <button class="btn ciliButton cancelButton">Cancel</button>
        <button class="btn ciliButton deleteButton">Delete</button>
    </div>
</div>

@Scripts.Render("~/bundles/admin");

