@Html.Partial("Modals/Delete")    

@using CilPlayground.Models;
@model AdminViewModel
@{
    ViewBag.Title = "Controls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .editRow {       
        margin: 0px;
        margin-bottom: 8px;
    }

    .adminCol {
        background-color:#101010;
        margin:3px;
        padding: 15px;
    }

    .buttonCol {
        margin:3px;
        padding: 0;
    }
</style>


<div class="container body-content" style="padding:20px; background-color:#303030; margin-top:40px">
    <h2>Controls</h2>
    <h5>Click to user to edit. </h5>
    <button class="btn ciliButton" id="addButton">Add new</button>
    <div class="row" id="tableHeader">
        <div class="col-md-2"><h4>User name</h4></div>
        <div class="col-md-3"><h4>Email</h4></div>
        <div class="col-md-2"><h4>Registration time</h4></div>
        <div class="col-md-1" id="roleHeader"><h4>Role</h4></div>
        <div class="col-md-2" id="passwordHeader" style="display:none"><h4>Password</h4></div>
    </div>
    @for (int i = 0; i < Model.Users.Count; i++)
    {
        <div class="row editRow" data-id="@Model.Users[i].Id">
            <div class="col-md-2 adminCol Name">
                <div style="min-width:100%; border-style:none; background-color:inherit;">@Model.Users[i].Name</div>
            </div>
            <div class="col-md-3 adminCol Mail">
                <div style="min-width:100%; border-style:none; background-color:inherit;">@Model.Users[i].Mail</div>
            </div>
            <div class="col-md-2 adminCol RegistrationTime">
                <div style="min-width:100%; border-style:none; background-color:inherit;">@Model.Users[i].RegistrationTime</div>
            </div>
            <div class="col-md-2 adminCol Role" data-roleId="@Model.Users[i].RoleId">
                <div style="min-width:100%; border-style:none; background-color:inherit;">
                    @Model.Roles.Where(r=>r.Id == @Model.Users[i].RoleId).FirstOrDefault().Name
                </div>
            </div>
        </div>
    }
</div>

<div style="display:none">
    <select style="min-width:100%; border-style:none; background-color:inherit;" class="roleEditSample">
        @for (int i = 0; i < Model.Roles.Count; i++)
        {
            <option value="@Model.Roles[i].Id">@Model.Roles[i].Name</option>
        }
    </select>

    <div style="min-width:100%; border-style:none; background-color:inherit;" class="roleSample">
    </div>
</div>


<script type="text/javascript">
    (function ($) {
        $.fn.changeElementType = function (newType) {
            var attrs = {};

            $.each(this[0].attributes, function (idx, attr) {
                attrs[attr.nodeName] = attr.nodeValue;
            });

            this.replaceWith(function () {
                return $("<" + newType + "/>", attrs).append($(this).contents());
            });
        };
    })(jQuery);

    function BindEvents() {
        $("#cancelButton").click(function () {
            Cancel($(this).parent().parent());
        });
        $("#saveButton").click(function () {
            Save($(this).parent().parent());
        });

        $("#deleteButton").click(function () {
            deletingRow = $(this).parent().parent();
            $("#deleteModal").modal();
        });

        $("#createButton").click(function () {
            Save($(this).parent().parent());
        });

    }

    var deletingRow;

    $("#deleteSubmitButton").click(function () {
        Delete();
    });

    var conditionStorage = new Object();

    var added = false;
    $("#addButton").click(
        function () {
            if (added == false) {
                added = true;
                $("#tableHeader").after(
                    '<div class="row editRow add" data-id="0">' +
                        '<div class="col-md-2 adminCol Name">' +
                            '<textarea style="min-width:100%; border-style:none; background-color:inherit;">Name</textarea>' +
                        '</div>'+
                        '<div class="col-md-3 adminCol Mail">' +
                            '<textarea style="min-width:100%; border-style:none; background-color:inherit;">example@mail.com</textarea>' +
                        '</div>'+
                        '<div class="col-md-2 adminCol RegistrationTime">' +
                            '<textarea style="min-width:100%; border-style:none; background-color:inherit;">@DateTime.Now</textarea>' +
                        '</div>'+
                        '<div class="col-md-1 adminCol Role">' +
                        '</div>' +
                        '<div class="col-md-2 adminCol Password">' +
                            '<textarea style="min-width:100%; border-style:none; background-color:inherit;">****</textarea>' +
                        '</div>' +
                        '<div class="col-md-1 buttonCol">' +
                            '<button class="btn ciliButton" id="createButton">Create</button>' +
                            '<button class="btn ciliButton" id="cancelButton">Cancel</button>' +
                        '</div>' +
                     '</div>');
                var list = $(".roleEditSample");
                var nlist = list.clone();
                var add = $(".add");
                var child = add.children(".Role")
                child.append(nlist);
                BindEvents();
            }
    });


    $(".editRow").click(
    function () {
        if ($(this).hasClass("canceled"))
        {
            $(this).removeClass("canceled");
        }
        else
            if ($(".selected").size() == 0) {
                $("#passwordHeader").removeAttr("style");
                conditionStorage = new Object();
                conditionStorage.name = $(this).children(".Name").children().text();
                conditionStorage.mail = $(this).children(".Mail").children().text();
                conditionStorage.registrationTime = $(this).children(".RegistrationTime").children().text();
                conditionStorage.role = $(this).children(".Role").children().text();
                $(this).addClass("selected");
                $(this).append(
                    '<div class="col-md-2 adminCol Password">' +
                          '<textarea style="min-width:100%; border-style:none; background-color:inherit;"></textarea>' +
                    '</div>'+
                    '<div class="col-md-1 buttonCol">' +
                    '<button class="btn ciliButton" id="saveButton">Save</button>' +
                    '<button class="btn ciliButton" id="cancelButton">Cancel</button>' +
                    '<button class="btn ciliButton" id="deleteButton">Delete</button>');

                $(this).children(".Role").removeClass("col-md-2").addClass("col-md-1");
                var roleId = $(this).children(".Role").attr("data-roleId");
                $(this).children(".Role").children().remove();
                $(this).children(".Role").append($(".roleEditSample").clone());
                $(this).children(".Role").children().children("[value =" + roleId + "]").attr("selected","selected");

                $(this).children(".Name").children().changeElementType("textarea");
                $(this).children(".Mail").children().changeElementType("textarea");
                $(this).children(".RegistrationTime").children().changeElementType("textarea");
                BindEvents();
        }
    });

    function Cancel(row) {
        $("#passwordHeader").css({ display: "none" });
        if (row.hasClass("add")) {
            row.remove();
            added = false;
        }
        else {
            row.removeClass("selected");
            row.addClass("canceled");
            row.children(".buttonCol").remove();
            row.children(".Password").remove();
            row.children(".Role").removeClass("col-md-1").addClass("col-md-2");
            row.children(".Name").children().changeElementType("div");
            row.children(".Name").children().val(conditionStorage.name);
            row.children(".Mail").children().changeElementType("div");
            row.children(".Mail").children().val(conditionStorage.mail);
            row.children(".RegistrationTime").children().changeElementType("div");
            row.children(".RegistrationTime").children().val(conditionStorage.registrationTime);
            row.children(".Role").children().remove();
            row.children(".Role").append($(".roleSample").clone());
            row.children(".Role").children().removeClass("roleSample");
            row.children(".Role").children().text(conditionStorage.role);
        }
    }

    function Save(row) {
        var url = "/Admin/Update";

        var model = new Object();
        model.Id = row.attr("data-id");
        model.Name = row.children(".Name").children().val();
        model.Mail = row.children(".Mail").children().val();
        model.RegistrationTime = row.children(".RegistrationTime").children().val();
        model.RoleId = row.children(".Role").children().val();     
        if (row.hasClass("add"))
        {
            url = "/Admin/Create";
            var password = row.children(".Password").children().val();
            if (password)
                model.password = SHA512(password);
        }                
        $.ajax({
            url: url,
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            type: "POST",
            success: function (result) {
                if (result.success == true)
                {
                    location.reload();
                }
                else {
                    message = "Server error:("
                    if(result != undefined)
                        message = result.answer;
                    alert(message);
                }
            }
        });
    }

    function Delete() {
        var model = new Object();
        model.Id = deletingRow.attr("data-id");
        model.Name = deletingRow.children(".Name").children().val();
        model.Mail = deletingRow.children(".Mail").children().val();
        model.RegistrationTime = deletingRow.children(".RegistrationTime").children().val();
        model.Role = deletingRow.children(".Role").children().val();
        $.ajax({
            url: "/Admin/Delete",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            type: "POST",
            success: function (result) {
                if (result.success == true) {
                    location.reload();
                }
                else {
                    message = "Server error:("
                    if (result != undefined)
                        message = result.answer;
                    alert(message);
                }
            }
        });
    }

</script>

